/* Base Application Styles */

body {
  color: #222;
  background: #fff;
}
.index img {
  position: static;
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}
.index .notice {
  top: 56px;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  background: #DDD;
}
.formLabel {
  text-align: right;
}
h1, h2, h3, h4 {
  font-family: Roboto, sans-serif;
}
a, a:active, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: inherit;
  outline-color: inherit;
  outline-style: inherit;
  outline-width: inherit;
}
